body {
  background-image: url(https://www.csszengarden.com/208/body_bg.gif);
  justify-items: center;
}

p {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

a {
  color: black;
}

.body {
  justify-items: center;
  width: 750px;
  height: 1000px;
  border-bottom: 10px;
  border-radius: 20px;

  background-color: rgba(221, 152, 48, 0.5);
  box-shadow: 0px 4px 20px rgb(77, 77, 77);
}

.title {
  display: flex;
  justify-content: center;
  width: 750px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(221, 152, 48);
  border-bottom: 1px;
  border-bottom-style: solid;
}

.category-title {
  font-weight: bold;
  font-size: x-large;
  margin: 5px;
}

.introduction {
  background-color: rgba(221, 152, 48, 0.5);
  display: flex;
  flex-direction: column;
  justify-self: end;
  border-radius: 20px;
  border: 2px;
  border-style: solid;
  border-color: rgb(211, 142, 38);
  width: 475px;
  margin-top: 25px;
  margin-right: 25px;

}
